 <form action="/admin/updateGrantVideoAccess" method=GET>
       <div class="nav-link" >
       <label>Please enter email Id: </label>
        <input type="email" name="email" >
        <input type="submit" name="" value="Select" class="btn btn-success btn-sm btn-pd">
</form>