<h1>videos index</h1>

 
  <% @videos.each do |video| %>
    
    <div>
     <p> <%= video.title %> </p>
     

     <iframe width="560" height="315" src=<%= video.link %> frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

    </div>
    


  <% end %>
